body{
    background-color: rgb(199, 184, 184);
    color: rgb(54, 60, 116);
    margin: 0px;
}

header{
    border-bottom: inset 3px rgb(64, 63, 65);
    padding: 15px;
    font-size: 30px;
    color: rgb(0, 0, 0)
}

h1{
    padding: 10px;
    font-size: 20px;
    color: rgb(145, 49, 89)
}

p{
    padding: 5px;
    font-size: 15px;
    color: rgb(77, 77, 77)
}