body{
    background-color: rgb(199, 184, 184);
    color: rgb(212, 81, 81);
    margin: 0px;
}

header{
    border-bottom: inset 3px rgb(13, 32, 206);
    padding: 15px;
    font-size: 30px;
    color: rgb(16, 106, 240)
}

h1{
    padding: 10px;
    font-size: 20px;
    color: rgb(255, 13, 0)
}

p{
    padding: 5px;
    font-size: 15px;
    color: rgb(154, 144, 144)
}